<app-menu theme="light"></app-menu>

<div class="wrapper">
    <img src="assets/images/banner.png" class="banner"/>

    <div class="box">
        <div class="box-info">
            <div class="actions">
                <p class="date">Semana 06/02 até 28/02</p>
                <img src="assets/images/arrow-left.png" class="arrow" (click)="scrollToTheLeft()"/>
                <img src="assets/images/arrow-right.png" class="arrow" (click)="scrollToTheRight()"/>
                <div class="see-all">
                    <img src="assets/images/see-all.png" (click)="goToFullList()"/>
                </div>
            </div>
    
            <p class="title">Material didático</p>
            <p class="subtitle">Acesse suas últimas apresentações de aula.</p>
        </div>
        <div class="box-design">
            <div class="item-design" *ngFor="let item of designs">
                <a target="_blank" [href]="'https://editor.trakto.io/presentation/p/' + item['id']" class="box-thumb">
                    <img [src]="item['thumbs']['raw']" class="item-thumb"/>
                    <div class="item-slide">
                        {{item["pages"]["length"]}} Slide<ng-container *ngIf="item['pages']['length'] > 1">s</ng-container>
                    </div>
                </a>
                <a target="_blank" [href]="'https://editor.trakto.io/presentation/p/' + item['id']" class="item-title">
                    <p>
                        {{item["title"]}}
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>