<app-menu></app-menu>

<div class="center">
    <div class="item" (click)="goToMaterial()">
        <span class="item-title">Material didático</span>
        <hr class="item-hr blue-border"/>
        <img src="assets/images/material-didatico.png" class="item-img"/>
    </div>
    <div class="item">
        <span class="item-title">Quiz</span>
        <hr class="item-hr green-border"/>
        <img src="assets/images/quiz.png" class="item-img"/>
    </div>
    <div class="item">
        <span class="item-title">Desenho</span>
        <hr class="item-hr purple-border"/>
        <img src="assets/images/desenho.png" class="item-img"/>
    </div>
    <a class="item" href="https://www.youtube.com/@Trakto" target="_blank">
        <span class="item-title">Youtube</span>
        <hr class="item-hr red-border"/>
        <img src="assets/images/youtube.png" class="item-img"/>
    </a>
</div>
